.journal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 100px;
}

.input-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.input-textarea {
  resize: vertical;
}

.invalid {
  border: 1px solid red;
  background: rgb(113, 13, 13);
}

.archive-button {
  background: none;
  border: none;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.archive-button:hover {
  background: rgba(255, 254, 254, 0.2);
}
